.intro p {
  max-width: 500px;
}
.intro h6 {
  color: $brand;
  font-weight: 400;
  text-transform: uppercase;
}

.intro h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.info-box {
  align-items: center;
  display: flex;
}

.info-box img {
  width: 90px;
}
