#milestone {
  background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85)),
    url(../img/slider/bg_banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
  color: #fff;
}
