.hero-slider .owl-prev,
.hero-slider .owl-next {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; //переопределяем стили owl
  width: 60px !important;
  height: 60px !important;
  margin-top: -30px !important; //положение по-середине(60-30)
  display: block;
  display: grid;
  place-items: center;
  color: #fff !important;
  border-radius: 100px !important;
  line-height: 0;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: 12px !important;
  transition: all 0.4s ease;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
  background-color: $brand !important;
}
.owl-dot.active span {
  background-color: $brand !important;
}
.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/slider/bg_banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/slider/bg_banner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide .display-3 {
  text-transform: uppercase;
  color: #fff;
}
